<link rel="stylesheet" href="../../stylesheets/bootstrap.css" >
<link rel="stylesheet" href="../../stylesheets/bootstrap.min.css" >
<link rel="stylesheet" href="../../stylesheets/normalize.css">
<link rel="stylesheet" href="../../stylesheets/application.css">
<link rel="stylesheet" href="../../stylesheets/bootstrap-glyphicons.css">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"> </script>

{{#if session.isAuthenticated}}
  <div id="linki">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <table class='table'>
            <thead>
              <tr><th>Recent Stories</th></tr>
            </thead>
     
            {{#each}}
            <tr><td>
              <button {{action 'delete' this}} class="btn btn-danger btn-sm">
               <span class="glyphicon glyphicon-trash"> </span>
             </button>  
              {{#link-to 'story' this}}
              {{title }} 
              {{/link-to}} 
            
              <small class='muted'>  by {{author}} created at {{published}} </small>   
            </td></tr>
            {{/each}}

          </table>
          {{#link-to 'stories.new'}} Create a new Story {{/link-to}} 
        </div>
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
{{else}}
<div class="log">
  <p>
    You must be logged in to access this page.
    {{#link-to 'login'}}Login{{/link-to}}
    or
    {{#link-to 'users.new'}}register{{/link-to}}.
  </p>
</div>
{{/if}}

